body{
    background-color:white;
}

h1 {
        color: green;
        font-size: xx-large;
}
a {
    text-decoration: none;
}
.container {
    padding: 20px;
    margin: auto;
    margin-top: 5.5%;
    border: 1px solid rgb(163, 125, 44);
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    font-size: 12px;
    width:300px;
}  
.container h1 {
    font-size: 12px;
    text-align: center;
}
.container #source {
    width: 300px;
    font-size: 16px;
}

button {
    background-color: rgb(8, 155, 99);
    color: white;
    padding: 12px 20px;
    border: 0px;
    border-radius: 6px;
    cursor: pointer;
    width: max-content
}
        
button:hover {
    background-color: rgb(163, 125, 44);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
		
	
u{
    font-size: xx-large;
   
}
select{
    font-size:x-large;
    
}
input{
    background-color: rgb(8, 155, 99);
    color: white;
    font-size:x-large;
    padding: 12px 20px;
    border: 0px;
    border-radius: 6px;
    cursor: pointer;
    width: max-content
}

input:hover {
    background-color: rgb(163, 125, 44);;
    box-shadow: 0 12px 16px 0 rgba(58, 2, 95, 0.24), 0 17px 50px 0 rgba(33, 4, 100, 0.19);
}
input:hover:active {
    background-color: #3e8e41;
    transform: translateY(4px);
}

h4{
    color: blue;
    text-align: center;
  
    }

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 3px;
    background-color: gray;
    color: white;
}
